<div class="row"><div class="card" style="width: 18rem;">
    <img src="../../../assets/Logos/Antakcchadhi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-aligned center-aligned"><b> Antakshari Participation</b></p>
    </div>
  </div>
 
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/Logos/Coding.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><b> Coding</b></p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/Logos/Badminton Tournament.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text center-aligned text-aligned"><b> Badminton Tournament</b></p>
    </div>
  </div>
</div>

